.dash-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 25%;
    flex: 1;
    border-radius: 8px;
    padding: 20px;
    color: white;
    margin: 1em;
    box-shadow: 0px 1px 8px 0px black;
    cursor: pointer;
}

.card-1 {
    background: linear-gradient(45deg, #0abd63, #28947e);
}

.card-2 {
    background: linear-gradient(45deg, #d82e4a, #e05986);
}

.card-3 {
    background: linear-gradient(45deg, #2e7dd8, #2436e5);
}

.card-4 {
    background: linear-gradient(45deg, #d82e2e, #e05959);
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 16px;
}



.card:hover {
    transform: translateY(-8px);
    box-shadow: -1px 5px 16px 1px #363636b0;
}


.progress {
    height: 5px;
    width: 100%;
    background-color: rgb(199, 199, 199);
    border-radius: 2px;
    position: relative;
}

.progress-indi {
    height: 5px;
    width: 70%;

    border-radius: 2px;
    position: relative;
    animation: fillProgress 2s ease-in-out;
}

.progress-indi-1 {
    background-color: #008329;
}

.progress-indi-2 {
    background-color: #b31a1a;
    ;
}

.progress-indi-3 {
    background-color: #1c40ff;
}

.progress-indi-4 {
    background-color: #7c0000e6;
}



@keyframes fillProgress {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}


@media screen and (max-width: 900px) {
  

    .card {
        flex: 1;
        width: auto;
        box-shadow: 0px 1px 8px 0px black;
      

    }
}
